<div class="container" >
    <h1 class="text-center text-warning mt-4 mb-4"> la liste de mes produits : {{products.length}}</h1>

    <div class="row">

        <div class="col-6">
            <form>
            <h6 class="text-info text-center">Search by price range</h6>
            <!-- *******  Début formulaire price range **********  -->
            <form (ngSubmit)="search_Price(price)" #price="ngForm">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <input type="number" name="min" class="form-control" ngModel required placeholder="Enter prix min">    
                            </div>
                        </div>
                        <div class="col-4">  
                            <div class="form-group">
                            <input type="number" name="max" class="form-control" ngModel required placeholder="entre prix max">
                            </div>
                        </div>
                        <div class="col-4"> 
                            <button type="submit" class="btn btn-primary">Search by price range</button>
                        </div>
                    </div>
       
              </form>
            </form>
            <!-- *******  Fin formulaire price range **********  -->

        </div>
        <div class="row">
             <div class="col-6">
                 <h6 class="text-info text-center">Search by keyword</h6>
            <!-- *******  Début formulaire keyword **********  -->
            <form (ngSubmit)="search_Keyword(searchkeyword)" #searchkeyword="ngForm">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" name ="keyword" class="form-control" ngModel required  placeholder="Enter keyword">    
                            </div>
                        </div>
                     
                        <div class="col-6"> 
                            <button type="submit" class="btn btn-primary">Search by keyword</button>
                        </div>
                    
                </div>
             </form>
  
            <!-- *******  Fin formulaire keyword **********  -->

          </div>
        </div>


        <section class="row " >
            <div class="text-center ml-4 mb-4 pl-4 pb-4 bg-success" *ngIf="afficher">le produit est supprimé</div>
            <div class="col-4 " *ngFor="let p of products">
               
                <img src="{{p.image}}" class="card-img-top" alt="...">
                <div class="card-body"> 
                    <h5 class ="card-title">{{p.title}} </h5> 
                    <p class="card-text"> {{p.description}}</p>
                    

      
                 <div class="row">
                    <div class="col-4"><a href="#" class="btn btn-primary"> {{p.price}} €</a></div>
                    <div class="col-4"><i class="fa-solid "
                        [ngClass]="{'text-success fa-thumbs-up' :p.available,  'text-danger fa-thumbs-down': !p.available}"
                         (click)="changeDisponible(p)">           
                        </i></div>
                    <div class="col-4"><button (click)="supprimer(p.id)">Delete</button></div>


                                        <!-- Button trigger modal -->

                       
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  (click)= "edit_Product(p) ">
                    Modifier les données
                    </button>
                    
                    <!-- Modal -->

                   
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modification des données</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            
                                                    
                                <div class="form-group">
                                    <label >Nom de votre produit</label>
                                    <input type="text" class="form-control" [(ngModel)]="product2.title"  placeholder="Entrer nom du produit" name="title">                                 
                                  </div>
                              
                                <div class="form-group">
                                    <label> Description du produit </label>
                                    <input type="text" class="form-control"  [(ngModel)]="product2.description"  placeholder="Entrer description" name="description">
                                </div>
                              
                                <div class="form-group">
                                      <label> Image du produit </label>
                                      <input type="text" class="form-control" [(ngModel)]="product2.image" placeholder="Entrer lien de l'image"  name="image">
                                </div>
                              
                                <div class="form-group">
                                      <label> Prix du produit </label>
                                      <input type="text" class="form-control" [(ngModel)]="product2.price" placeholder="Entrer le prix"  name="price">
                                </div>


                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary"   >Sauvegarder</button>
                            </div>
                        </div>
                        </div>
                    </div>
                      
             <!-- Fin Modal -->  

                 </div>

                </div>
            </div>
        </section>

</div>

